/* ns-3 changes to the default CSS from Doxygen and Sphinx */

body, table, div, p, dl {
    font-family: Lucida Grande, Verdana, Geneva, Arial, sans-serif;
    font-size: 12px;
    color: black;
}

a {
    color: #91A501;
    font-weight: bold;
}

/* Sphinx headings */
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    background-image: url('nav_f.png');
}

/* Doxygen side bar */
#nav-tree {
    font-size: 12px;
}

#nav-tree a {
    font-weight: normal;
}

/* Sphinx nav links bar (relbar) */
div.related {
    background-image:url('tab_b.png')
}

div.related h3 {
    display: none;
}

div.related a {
    color: #91A501;
    font-size: 14px;
    font-weight: bold;
}

div.related li {
    background-image: url('bc_s.png');
    background-position: 100% 40%;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 15px;
}

div.related li.right {
    background-image: none;
    padding-left: 0px;
    padding-right: 0px;
}

/* Sphinx side bar */
div.sphinxsidebar {
    font-size: 12px;
}

div.sphinxsidebar a {
    font-weight: normal;
}


/* Title bar elements */

#titlearea
{
    background-image:url('bar-top.png');
    background-repeat:repeat;
    border-bottom: 1px solid #5B5B5B;
    color: white;
}

#projectlogo
{
    text-align: center;
    margin: 10px;
    vertical-align: middle;
    width: 220px;
    color: white;
}

#projecttext
{
        align: left;
        padding-left: 2em;
        font-color:white;
}

#projectbrief
{
    font: 120% Tahoma, Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

#projectnumber
{
    font: 100% Tahoma, Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

#projectsection
{
    text-align: right;
    font: 24pt  Aldo, Tahoma, Arial,sans-serif;
    margin: 10px;
    margin-right: 10px;
    vertical-align: middle;
    color: white;
}
